/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
} 

/* ========== END GLOBAL STYLES ========== */


.hero_container{
    margin-top: 1.5rem;
    height: 616px;
    padding: 0rem 8rem;    
    color: var(--Brand-black);
    display: grid; 
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);  
}
.hero_item{
    display: flex;  
    flex-direction: column;  
    padding: 2rem;    
    row-gap: 1rem;   
}
.hero_item h6:first-child{
    font-weight: 700;
    font-size: 14px;
    color: var(--TopnavBg);
    font-weight: 700;
}
.hero_item h6:last-child{
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;     
}

.hero_item1{  
    background-image: url(images/hero/hero1.png);  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    grid-row-end: span 2;
}
.hero_item2{  
    background-image: url(images/hero/hero2.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    grid-column-start: span 2;  
}
.hero_item3{    
    background-image: url(images/hero/hero3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
}
.hero_item4{    
    background-image: url(images/hero/hero4.png); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

