/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --OldPriceColor: #BDBDBD;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
} 

/* ========== END GLOBAL STYLES ========== */




/* ========== START SERVICES STYLES ========== */
.services{
    width: 100%;
    text-align: center;
    min-height: 30vh;
    display: grid;
    padding: 1rem 8rem;
    margin-bottom: 2rem;
    
}
.services > h4{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--Navs-black);
    letter-spacing: 0.2px;
}
.services > h3{   
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--Brand-black);
}
.services > p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--Navs-black);

}

.grid_container{
    text-align: center;
    display: grid;
    margin: 2rem 0rem;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.grid_item{
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    row-gap: 1rem;
}
.grid_item img{
    width: 72px;
    height: 72px;
}
.grid_item h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--Brand-black);
}
.grid_item p{
    font-size: 14px;
    font-weight: 400;
    color: var(--Navs-black);
}


/* ========== END SERVICES STYLES ========== */

