/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
} 

/* ========== END GLOBAL STYLES ========== */


/* ========== START TOPNAVBAR STYLES ========== */
.top_navbar{
    height: 58px;
    width: Fixed (1,438px);    
    color: var(--BgColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
    background-color: var(--TopnavBg);
}
.top_navbar .left{
    display: flex;
    gap: 2rem;
    width: 45%;
}
.top_navbar .left h6{
    display: flex;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 700;
    align-items: center;
    gap: 5px;
}
.top_navbar .right{
    display: flex;
    width: 55%;
    justify-content: space-between;
}
.socials{
    width: 35%;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: end;
}
.socials > img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
/* ========== END TOPNAVBAR STYLES ========== */



/* ========== START DOWN NAVBAR STYLES ========== */
.downNavbar{
    padding: 0rem 8rem;
    height: 58px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.downNavbar > .left{
    display: flex;
    align-items: center;
    width: 15%;
    height: 58px;   
}
.downNavbar > .left h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: var(--Brand-black);
    cursor: pointer;
}
.downNavbar > .right{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    width: 85%;
    height: 58px;
}
.downNavbar > .right .navs{
    width: 70%;
    cursor: pointer;
}
.downNavbar > .right .navs ul{
    display: flex;
    width: Hug (361px)px;
    height: Hug (25px)px;
    top: 16.5px;
    gap: 23px;
    opacity: 0px;
    color: var(--Navs-black);
}
.downNavbar .navbar_btns{
    width: 25%;
    display: flex;     
    color: var(--SkyBlue);
    justify-content: space-between;
}
.navbar_btns > h6{
    display: flex;
    font-weight: 700;
    align-items: center;
    letter-spacing: 0.2px;
    gap: 0.5rem;
    font-size: 14px;
    cursor: pointer;
}
.navbar_btns img{
    cursor: pointer;
}
/* ========== START DOWN NAVBAR STYLES ========== */