/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
} 

/* ========== END GLOBAL STYLES ========== */

/* ========== START TOPNAVBAR STYLES ========== */
.top_navbar{
    height: 58px;
    width: Fixed (1,438px);    
    color: var(--BgColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 8rem;
    background-color: var(--TopnavBg);
}
.top_navbar .left{
    display: flex;
    gap: 2rem;
    width: 45%;
}
.top_navbar .left h6{
    display: flex;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 700;
    align-items: center;
    gap: 5px;
}
.top_navbar .right{
    display: flex;
    width: 55%;
    justify-content: space-between;
}
.socials{
    width: 35%;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: end;
}
.socials > img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
/* ========== END TOPNAVBAR STYLES ========== */


.container {
    margin: 0;
    padding: 0;
    height: 58px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    position: relative;
}

.title {
    width: 187px;
    /* height: 58px; */
    display: flex;
    align-items: center;
}

.title > h3 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    color: rgba(37, 43, 66, 1);
}

.nav-links {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.nav-links > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links > ul > li {
    display: flex;
    align-items: center;
    gap: 3px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

.signup {
    color: rgba(35, 166, 240, 1);
}

.toggle-menu {
    display: none;
    position: relative;
    margin: auto;
}

.toggle_items {
    list-style-type: none;
    display: none;
    position: absolute;
    width: 370px;
    height: 350px;
    top: 70%;
    left: 0;
    background-color: white;
}

.toggle_items > li {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    color: rgba(115, 115, 115, 1);
}

@media screen and (max-width: 414px) {
    .top_navbar{
        display: none;
    }
    .nav-links {
        display: none;
    }

    .toggle-menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .toggle_items.is-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
