/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
    --BadgeBg:#E74040;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
} 

/* ========== END GLOBAL STYLES ========== */


.feedback{
    margin: 2rem 0rem;
}
.feedback_container{
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.feedback_item1{
    display: flex;
    padding: 0rem 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.reviewer{
    margin-top: 1rem;
}
.reviewer > p{
    font-size: 14px;
    font-weight: 700;
    color: var(--SkyBlue);
}
.reviewer > h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var(--Brand-black);
}

.image_container{
    padding: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.img_item img{
    width: 100%;
    height: 100%;
}