/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --SkyBlue: #23A6F0;
    --body-font: "Montserrat", sans-serif;
    --BadgeBg:#E74040;
    --FootTopBg: #FAFAFA;
    --PlaceholderBg:#E6E6E6;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--Navs-black);
} 
::placeholder{
    padding-left: 1rem;
}

/* ========== END GLOBAL STYLES ========== */


.footer{
    position: apsolute;
    bottom: 0px;
    z-index: -2;
}
.foot_features{
    width: 100%;
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 11rem;
}
.foot_item{
    display: grid;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 10px;
}
.foot_item h5{
    font-size: 14px;
}
.copyright_section{
    padding: 2rem 11rem;
    background-color: var(--FootTopBg);
    color: var(--Navs-black);
    font-size: 14px;
    font-weight: 700;
}
.foot_item5{
    grid-column-end: span 2;
}
.foot_item5 input{
    height: 48px;
    width: 60%;
    padding-left: 1rem;
    border-radius: 5px 0px 0px 5px;
    background-color: var(--PlaceholderBg);
    color: var(--Navs-black);
    border: 1px solid var(--Navs-black);
}
.foot_item5 button{
    background-color: var(--SkyBlue);
    width: 40%;
    height: 48px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--SkyBlue);
    color: var(--BgColor);
    cursor: pointer;
   
}


@media screen and (max-width: 768px) {
    .foot_features{
        grid-template-columns:1fr;
        padding: 1rem 1rem;
    }
    .foot_item5{
        margin: auto;
        width: 100%;
        grid-column-end: span 1;
    }
    .copyright_section{
        text-align: center;
        padding: 2rem 1rem;
    }
    .foot_item5 input{
        height: 28px;
        width: 70%;
        border-radius: 5px 0px 0px 5px;
        background-color: var(--PlaceholderBg);
        color: var(--Navs-black);
        border: 1px solid var(--Navs-black);
    }
    .foot_item5 button{
        background-color: var(--SkyBlue);
        width: 30%;
        height: 28px;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid var(--SkyBlue);
        color: var(--BgColor);
        cursor: pointer;
       
    }
    ::placeholder{
        padding-left: 0.1rem;
    }

    .foot_item{
        display: grid;
        row-gap: 0.5rem;
        padding: 0rem 1rem;
        margin-bottom: 1.5rem;
        font-size: 16px;
    }
}