/* ========== START GLOBAL STYLES ========== */
:root{
    --TopnavBg: #23856D;
    --BgColor: #ffffff;
    --textBlack: #000;
    --Brand-black: #252B42;
    --Navs-black: #737373;
    --OldPriceColor: #BDBDBD;
    --SkyBlue: #23A6F0;
    --LeafGreen:#2DC071;
    --SexyPink:#E77C40;
    --body-font: "Montserrat", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
} 
ul{
    list-style: none;
}
a{
    text-decoration: none;
} 



/* Start Loader Styling */
.loader {    
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--red-boy);
    ;
    letter-spacing: 0.2em;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: var(--TopnavBg);
        position: absolute;
        animation: load .7s infinite alternate ease-in-out;


    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.content {
    display: none;
    text-align: center;
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 9998;
}
.home_loader{
    width: 100%;
    height: 100vh;
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--BgColor);
    
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px
    }

    50% {
        height: 8px;
        width: 40px
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px
    }
}
/* End Loader Styling */



/* ========== END GLOBAL STYLES ========== */




.productDetails{
    height: 550px;
    padding: 1rem 11rem;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.item_pics{
    width: 510px;
    height: 550px;
}
.item_pics > img{
    width: 506px;
    height: 450px;
}
.other_pics{    
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}
.item_info p img{
    width: 6rem;
}
.item_info p{
    margin: 1rem 0rem;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    font-size: 12px;
}
.attributre{
    margin-top: 10rem;    
}
.colors{
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}
.colors > span{
    width: 30px;
    height: 30px;
    padding: 0.5rem;
    border-radius: 50%;
}
.colors > .color1{
    background-color: var(--SkyBlue);
}
.colors > .color2{
    background-color: var(--LeafGreen);
}
.colors > .color3{
    background-color: var(--SexyPink);
}
.colors > .color4{
    background-color: var(--Brand-black);
}
.attributre > section{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.attributre > section button{
    width: 148px;
    height: 44px;
    border: 1px solid var(--SkyBlue);
    background-color: var(--SkyBlue);
    border-radius: 5px;
    color: var(--BgColor);
}